[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/mos-outside
[access "refs/for/refs/*"]
	read = group user/mos-outside
	push = group user/mos-outside
	label-Code-Review = -2..+2 group user/mos-outside
	label-Verified = -1..+1 group user/mos-outside
	rebase = group user/mos-outside
	removeReviewer = group user/mos-outside
	submit = group user/mos-outside
[access "refs/heads/*"]
	read = group user/mos-outside
	create = group user/mos-outside
	push = +force group user/mos-outside
	pushMerge = group user/mos-outside
[access "refs/tags/*"]
	push = +force group user/mos-outside
	pushTag = group user/mos-outside
	pushSignedTag = group user/mos-outside
